@import "./node_modules/bootstrap/scss/bootstrap.scss"; 
$display-font-weight: bolder;
// Then add additional custom code here
*{
    background-color: E1F1FF;
    color:black;
}
h1{
    font-size:8rem !important;
}

span{
    color:blue;
}
// p{
//     background-color: cornflowerblue;
//     text-align:center;
// }

#visual{
    min-height: 90vh;
}
