@import "./node_modules/bootstrap/scss/bootstrap.scss"; 

// Then add additional custom code here
*{
    background-color: E1F1FF;
    color:black;
}

span{
    color:blue;
}
// p{
//     background-color: cornflowerblue;
//     text-align:center;
// }

#visual{
    min-height: 90vh;
}
